.header {
  & {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  & > * {
    width: 33.33333%;
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__center {
    @include center;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    font-size: 20px;
  }
  &__btn {
    @include center;
  }
}
