$color-black: rgb(28, 33, 43);
$color-black-01: rgba(0, 0, 0, 0.1);
$color-black-02: rgba(0, 0, 0, 0.2);
$color-white: rgb(255, 255, 255);
$color-grey: rgb(180, 177, 177);
$color-red: rgb(233, 25, 25);
